/.DS_Store
/1a.html
/1b.html
/2a.html
/2b.html
/3.html
/4.html
/armstrongnum.c
/basic.py
/binarysearch.c
/bubblesort.c
/celciusconv.c
/infixtopost.c
/linearsearch.c
/linkedlist
/linkedlist.c
/linkedlist.dSYM
/postfix.c
/queue.c
/selectionsort.c
/simplecalc.c
/webdevproj1.py